################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/ProjectEvaluation
/.vs/WellNexus
/.vs
bin/
*.obj
.* 
!.gitignore 
*.log 
…
/bin/ 
/obj/
/WellNexus/obj
/WellNexus/bin
